/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height:150px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ofertas {
    padding-right: 10px;
    padding-left: 10px;
    color: #21aa52;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail:hover {
    background-color: #FFF;
    border: 1px solid darkgrey;

}

footer {
    margin: 50px 0;
}

/* formulario de búsqueda */

legend {
    font-size:15px;
}


.range-value
{
   display: inline-block;
   position: relative;
   width: 60px;
   color: #fff;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   border-radius: 3px;
   background: #353535;
   padding: 5px 10px;
   margin-left: 7px;
}

/* formulario de login */

.form-signin
{
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 0px;
}
.form-signin .checkbox
{
    font-weight: normal;
    left:15px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 14px;
    height: auto;
    padding: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 10px;
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.alert > .subelo
{
    position:relative;
    !important;top: -20px;
}

.alert
{
    padding:17px 15px 0 15px;
}

.wrapper {
    width: 100%;
    height: 385px;
    position: relative;
    float:left;
}
.wrapper .thumbnails {
    width: 160px;
    height:380px;
    float: right;
}
.wrapper a {
    margin: 1px;
}
.wrapper label > img {
    opacity: 0.45;
}
.wrapper label > img:hover {
    opacity: 1;
}
.wrapper input {
    display: none;
}
.wrapper input:checked + .full-image {
    display: block;
}
.wrapper input:checked ~ img {
    opacity: 1;
}
.wrapper .full-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}